<ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">
    <li class="logo">
        <a id="logo-container" href="" class="brand-logo">
            <object id="front-page-logo" type="image/svg+xml" data="res/materialize.svg">Your browser does not support SVG</object></a>
    </li>
    <li class="no-padding blue-grey darken-1">
        <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">CSS</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="color.html">Color</a></li>
                        <li><a href="grid.html">Grid</a></li>

                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Components</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="badges.html">Badges</a></li>
                        <li><a href="buttons.html">Buttons</a></li>

                    </ul>
                </div>
            </li>
            <li class="bold active"><a class="collapsible-header waves-effect waves-teal active">JavaScript</a>
                <div class="collapsible-body" style="display: block;">
                    <ul>
                        <li><a href="carousel.html">Carousel</a></li>
                        <li><a href="collapsible.html">Collapsible</a></li>
                        <li><a href="dialogs.html">Dialogs</a></li>
                        <li><a href="dropdown.html">Dropdown</a></li>

                    </ul>
                </div>
            </li>
        </ul>
    </li>

    <li class="bold"><a href="themes.html" class="waves-effect waves-teal">Themes</a></li>
</ul>
<script>
    $(document).ready(function() {
        $('.collapsible').collapsible();
    });
</script>